{__NOLAYOUT__}

<link type="text/css" href="<{:C('CSS_URL')}>bootstrap.min.css" rel="stylesheet">
<!--右侧总页面开始-->
<div class="col-md-12" style="height: 650px;background-color: #cccccc">
  <!--右侧页面第一行开始-->

    <div class="text-center text-warning" style="margin-top: 150px;">
      <h1 style="font-size: 150px;">404</h1>
      <h3 class="font-bold">页面未找到！</h3>

      <div class="error-desc">
        抱歉，页面好像去火星了~
        <form class="form-inline m-t" role="form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="搜搜看 …">
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
      </div>
    </div>

  </div>
  <!--右侧页面第一行结束-->



</div>
</div>
<!--总页面结束-->




