#pageshow a {
  text-decoration: none;
  border: 1px solid #AAE;
  color: #15B;
  margin-top: 5px;
}

#pageshow a, #pageshow span {
  display: inline-block;
  padding: 0.1em 0.4em;
  margin-right: 5px;
  margin-bottom: 5px;
}

#pageshow .current {
  background: #26B;
  color: #fff;
  border: 1px solid #AAE;
}

#pageshow .current.prev, #pageshow .current.next {
  color: #999;
  border-color: #999;
  background: #fff;
}

